.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.clearfix{
	zomm:1;
}
html,body{
	min-width: 1280px;
}
header{
	width: 100%;
	height: 58px;
	line-height: 58px;
	text-align: center;
}
.logo{
	float: left;
	margin-left:  58px;
	font:21px/58px "SimHei";	
}
.logopic{
	float: left;
	margin-right: 10px;
	width: 35px;
	height: 58px;
	background: url("picture/task7/sprite.png") no-repeat center;
	background-position: -33px 7px;
}
nav{
	float: right;
	margin-right: 68px;
	font: 14px/55px "Microsoft Yahei";
	list-style: none;
	color: #787b83;
}
nav li{
	display: inline-block;
	margin-right: 35px;
	width: 65px;
}
nav li:first-child{
	color: red;
	border-bottom: 3px solid red;
}
.login+span{
	color: red;
}
.login{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-top: 20px;
	background: url("picture/task7/sprite.png") no-repeat center;
	background-position: 0px -5px;
}
/*banner*/
.banner{
	width: 100%;
	height: 690px;
	position: relative;
	background: url("picture/task7/banner.jpg") no-repeat center;
	background-size: cover;
}
.ban-head{
	position: absolute;
	top: 230px;
	left: 115px;
	font-family: "Microsoft Yahei";
}
.ban-head p:first-child{
	font-size: 60px;
	color: #ffffff;
}
.ban-head p:nth-child(2){
	margin-top: 30px;
	margin-bottom: 63px;
	font-size: 21px;
	line-height: 1.5em;
	color: #fffdfd;
}
.ban-head button{
	width: 330px;
	height: 60px;
	font-size: 30px;
	border: 0;
	background: #e74f4d;
	color: #ffffff;
}
/*4栏*/
.fourintro{
	width: 1280px;
	margin: 0 auto;
	font: 14px/18px "SimHei"; 	
	color: #767777;
}
.intro{
	box-sizing:border-box;
	float: left;
	width: 25%;
	text-align: center;
	height: 250px;
}
.intro span{
	display: inline-block;
	width: 100%;
	height: 50px;
	border-right: 2px solid #767777;
}
.intro4+span{
	border: 0;
}
.intro .ico{
	background: url("picture/task7/sprite.png") no-repeat center;
	width: 45px;
	height: 40px;
	margin: 45px auto;
}
.intro .intro1{
	background-position: -70px -6px;
}
.intro .intro2{
	background-position: -130px -6px;
}
.intro .intro3{
	background-position: -180px -6px;
}
.intro .intro4{
	background-position: -235px -5px;
}

/*中间LOGO*/
.mainlogo{
	box-sizing:border-box;
	width: 100%;
	height: 360px;
	background: #edecec;
	border: 1px solid #edecec;
	text-align: center;
}
.mainlogo div{
	width: 105px;
	height: 95px;
	margin:90px auto 50px;
	background: url("picture/task7/sprite.png") no-repeat center;
	background-position: -280px -5px;	
}
.mainlogo span{
	font:54px/54px "SimHei";
	color: #a1a1a1;
}
.map{   
	width: 100%;
	height: 340px;
	text-align: center;
	font-family: "Microsoft Yahei";
	color: #f1ece9;
	background: url("picture/task7/map.jpg") no-repeat;
	background-size: cover;
}
.map h3{
	padding-top: 50px;
	font-size: 21px;
	line-height: 36px;
}
.map span{
	display: inline-block;
	width:30px;
	border-bottom: 3px solid #f1ece9;
}
.map p{
	font-size: 12px;
	line-height: 31px;
	margin-bottom: 53px;
}
.map select,.searbutton{
	width:235px;
	height: 35px;
}
.province select{
	margin: 0 27px;
	border: 1px solid #be4e48;
}
.province{
	position: relative;
	display: inline-block;
}
.province ul{
	position: absolute;
	top:35px;
	right: 27px;
	width: 233px;
	font: 12px/26px "Microsoft Yahei";
	text-align: left;
	text-indent: 30px;
	border: 1px solid #be4e48;
	background: #e4e3e5;
	color: #323333;
}
.province ul li:first-child{
	background: #be4e48;
	color: #ffffff;
}
.province ul i{
	position: absolute;
	left: -15px;
}
.searbutton{
	margin-left: 27px;
	background: #be4e48;
	font: 14px/27px "Microsoft Yahei" ;
	color: #fff;
	border: 0;
}

/*picwall*/
.picwall{
	display: flex;
	justify-content:center;
	align-items:center;
	text-align: center;
	height: 605px;
	background: #f7f7f7;
	font-family:"Microsoft Yahei";
	line-height: 24px; 
}
.pw{
	float: left;
	font-size: 15px;
	color: #575858;
	margin-right: 35px;
}
figure img{
	padding: 12px 7px;
	border: 1px solid #d0ccca;
	background: #ffffff;
}
figcaption span{
	font-size: 12px;
	color:#898a8a;
}
.shanghai {
	font-size:21px;
	color: #575858;
}

/*legwall*/
.legwall{
	height: 560px;
	width: 100%;
}
.legpic{
	float: left;
	width: 66.6%;
	height: 560px;
	background: url("picture/task7/leg.jpg") no-repeat center;
	background-size: cover;
}
.legright{
	display: flex;
	justify-content:center;
	align-items:center;
	text-align: center;
	margin-left: 66.6%;
	height: 560px;
}
.legword{
	width: 300px;
	height: 280px;
	font-family: "Microsoft Yahei";
}
.legword h3{
	font-size: 22px; 
	margin-bottom: 30px;
}
.legword h3 span{
	color: #e7504d;
}
.legword p{
	font: 12px;
	line-height: 30px;
	text-align: left;
	color: #aaaaaa;
}
.legword button{
	display: block;
	margin:50px auto 22px;
	width: 105px;
	height: 30px;
	border: 2px solid #e5676a;
	color: #e5676a;
	background: #fff;
}
.legword li{
	display: inline-block;
	width: 7px;
	height: 7px;
	margin-right: 10px;
	border-radius: 50%;
	border: 1px solid #aaa;
}
.legword button+li{
	background: #aaa;
}
/*3pic*/
.tre{
	display: flex;
	justify-content:center;
	align-items:center;
	text-align: center;
	width: 33.3%;
	height: 518px;
	float: left;
	font: 21px/30px "SimHei";
}
.tre button{
	width: 170px;
	height: 45px;
	font-size:21px;
	line-height: 30px;
	margin-top: 15px;
}
.three1 span{
	display: inline-block;
	width: 25px;
	border-bottom: 2px solid #fff;
}
.three2 span{
	display: inline-block;
	width: 25px;
	border-bottom: 2px solid #767777;
}
.three1{
	background: #e74f4d;
	color: #fff;
}
.three1 button{
	background: #e74f4d;
	border: 1px solid #fff;
	color: #fff;
}
.three2 button{
	background: #fff;
	border: 1px solid #e74f4d;
	color: #e74f4d;
}
.three3{
	background: url("picture/task7/right.png") no-repeat center;
	background-size: cover;
}	
/*底部表格栏和声明*/
.welbody{
	width: 1050px;
	height: 285px;
	margin:0 auto;
}
.welcome{
	width: 100%;
	height: 750px;
}
.become{
	width: 425px;
	height: 110px;
	margin:115px auto 100px;
	text-align: center;
}
.become h3{
	font: 21px/30px "SimHei";
}
.become span{
	display: inline-block;
	width: 25px;
	margin: 5px auto 10px;
	border-bottom: 2px solid #e74f4d;
}
.become p{
	font: 12px/20px "Microsoft Yahei";
	color: #a2a09f;
}

.claim{
	float: left;
	width: 300px;
	height: 285px;
	font:12px/21px "SimSun";
	color: #a2a09f;
	margin-right: 70px;
}
.claim h4{
	font: 14px/14px "SimHei";
	color: #858383;
	margin-bottom: 25px;
}
.claim p{
	margin-bottom: 30px;
}
.more{
	display: block;
	text-align: right;
}
.lastform{
	float: left;
}
.lastinpt{
  	height: 41px;
  	width: 310px;
  	text-indent: 1em;
  	margin: 0 14px 13px 0;
  	background: #ededee;
  	border: none;
}
.lastarea{
	padding: 10px;
  	width: 618px;
  	height: 121px;
  	background: #ededee;
  	border: 0;
}
.lastform button{
	width: 640px;
	height: 40px;
	background: #ededee;
	margin-top: 14px;
	font: 14px/14px "SimHei";
	color: #858383;
	border: 0;
}

/*尾部*/
.foot1{
	position: relative;
	width: 100%;
	height: 360px;
	background:#32353e;
	font-size: 12px;
	font-family: "SimSun";
	color: #bfbfc1;
	text-align: center;
}
.foot1word{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}
.foot1 p:first-child{
	font-size:21px;
	line-height: 48px; 
	color: #bfbfc1;
}
.foot1 p:nth-child(2){
	font-size: 12px;
	line-height: 18px;
	width: 470px;
	margin:10px auto 20px;
}
.foot1 button{
	width: 80px;
	height: 40px;
	background:#6f7178; 
	border: 0;
	color: #e1e3e6;
	font-size: 14px;
}
.foot1 input{
	width: 430px;
	height: 40px;
	border: 0;
}
.footico{
	display: inline-block;
	margin-top: 20px;
	margin-right: 15px;
	width: 42px;
	height: 35px;
	background: url("picture/task7/sprite.png");
}
.icoqq{
	background-position: 3px -45px;
}
.icoweibo{
	background-position: -35px -45px;
}
.icotwitter{
	background-position: -75px -45px;
}
.icobroswer{
	background-position: -120px -45px;
}
.foot2{
	width: 100%;
	height: 58px;
	line-height: 58px;
	background:#2f2f38;
	color: #bfbfc1;
}
.foot2 span:first-child{
	display: inline-block;
	float: left;
	margin-left: 90px;
}
.foot2 span:nth-child(2){
	display: inline-block;
	float: right;
	margin-right: 40px;
}